:root {
    /* LIGHT THEME */
    --LT-header-gray:                  rgb(50, 50, 50);
    --LT-header-drop-shadow:           rgba(119, 119, 119, 0.716);
    --LT-credit-note-gray:             rgb(68, 68, 68);
    --LT-link-color:                   rgb(0, 122, 183);
    --LT-intro-border-gray:            rgb(210, 210, 210);
    --LT-review-section-container1:    rgb(250, 250, 250);
    --LT-review-section-container2:    rgb(235, 235, 235);
    --LT-snippet-bg-gray:              rgb(50, 50, 50);
    --LT-snippet-box-shadow:           rgba(37, 38, 54, 0.716);
    --LT-code-box-shadow:              rgba(37, 38, 54, 0.716);

    /* SHARED */
    --code-webkit-scrlbr-border:       rgb(44, 44, 49);
    --code-wbkt-scrlbr-bg:             rgb(220, 220, 220);
    --link-color:                      rgb(0, 183, 82);

    /* DARK THEME */
    --DK-body-background:              #1f1f1f;
    --DK-header-gray:                  rgb(220, 220, 220);
    --DK-header-drop-shadow:           rgba(100, 100, 100, 0.75);
    --DK-credit-note-gray:             rgb(150, 150, 150);
    --DK-intro-border-gray:            rgb(80, 80, 80);
    --DK-main-text-color-gray:         rgb(200, 200, 200);
    --DK-note-color-gray:              rgb(150, 150, 150);
    --DK-review-section-container1:    rgb(30, 30, 30);
    --DK-review-section-container2:    rgb(20, 20, 20);
    --DK-snippet-color:                rgb(40, 40, 40);
    --DK-snippet-bg:                   rgb(240, 240, 240);
    --DK-snippet-box-shadow:           rgba(190, 190, 190, 0.716);
    --DK-code-box-shadow:              rgba(15, 15, 23, 0.716);

    /* PAGE SPECIFIC */
    --orbit-path:                      rgba(175, 175, 175, 0.1);
    --clock-font-color:                rgb(120, 120, 120);
    --DK-time-grp-webkit-scrlbr-border:rgb(20, 20, 20);
    --DK-time-grp-webkit-scrlbr-bg:    rgb(220, 220, 220);
    --DK-time-grp-wrapper-border:      rgb(48, 48, 55);
}

* {
    margin: 0;
    padding: 0;
    max-width: 1600px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 600px) {
    .clock-container {
        margin: 0 !important;
        
        -webkit-transform:scale(0.9);
        -moz-transform:scale(0.9);
        -ms-transform:scale(0.9);
        transform:scale(0.9);
    }
}

body {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin-top: 80px;
    transition: background 250ms ease-in-out;
}
body.dark {background: var(--DK-body-background);}




/* HEADER AND NAVBAR STYLING */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: opacity 500ms ease-in-out;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(var(--LT-review-section-container1), var(--LT-review-section-container2));
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: all 250ms ease-in-out;
}
.navbar.dark {background: linear-gradient(var(--DK-review-section-container1), var(--DK-review-section-container2));}

.logo {
    font-size: 1.5rem;
    margin: 1rem 0 1rem 1rem;
    color: var(--LT-header-gray);
    filter: drop-shadow(0 3px 2px var(--LT-header-drop-shadow));
    transition: all 250ms ease-in-out;
}
.logo.dark {
    color: var(--DK-header-gray);
    filter: drop-shadow(0 3px 2px var(--DK-header-drop-shadow));
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
}

.navbar-links li {
    list-style: none;
    border-radius: 2px;
    transition: background-color 250ms ease-in-out;
}

.nav-link {
    display: block;
    text-decoration: none;
    color: var(--LT-header-gray);
    padding: 1rem;
    transition: color 250ms ease-in-out;
}
.nav-link.dark {color: var(--DK-header-gray);}

.navbar-links li:hover {background-color: rgb(166, 166, 166);}

.menu-toggle {
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.menu-toggle .menu-bar {
    width: 100%;
    height: 3px;
    background-color: var(--LT-header-gray);
    filter: drop-shadow(0 3px 2px var(--LT-header-drop-shadow));
    border-radius: 10px;
    transition: all 250ms ease-in-out;
}
.menu-bar.dark {
    background-color: var(--DK-header-gray);
    filter: drop-shadow(0 3px 2px var(--DK-header-drop-shadow));
}

/* media query to adjust sizing for screen width at 500px or less */
@media (max-width: 500px) {
    .menu-toggle {display: flex;}

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .navbar-links li a {padding: 0.5rem 1rem;}

    .navbar-links.active {display: flex;}

    #mode-toggle {margin: 1.5rem 1rem 0.5rem 1rem !important;}

    #mode-toggle::after {
        content: 'NEW Light & Dark mode!';
        font-family: 'Caveat', cursive;
        font-size: 0.8rem;
        color: var(--link-color);
        position: absolute;
        width: 150px;
        top: -20px;
        left: -48px;
    }
}




/* LIGHT / DARK MODE TOGGLE SWITCH */
/* .dark is used to switch color templates  (original dimensions: width.320px, height.160px / 5  =>  width.64px, height.32px) */
#mode-toggle {
    cursor: pointer;
    position: relative;
    width: 64px;
    height: 32px;
    margin: 0.65rem 1rem;
    border-radius: 32px;
    background: #fff;
    box-shadow: inset 0 2px 30px rgba(0,0,0,0.1),
                inset 0 2px 4px rgba(0,0,0,0.1),
                inset 0 -2px 2px rgba(0,0,0,0.05);
    transition: 0.25s;
}

#mode-toggle.dark {
    background: #222;
    box-shadow: inset 0 4px 30px rgba(0,0,0,0.1),
    inset 0 4px 4px rgba(0,0,0,0.1),
    inset 0 -2px 2px rgba(0,0,0,0.1);
}

#mode-toggle .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1),
                inset 0 1px 1px rgba(255,255,255,1),
                inset 0 -1px 1px rgba(255,255,255,1);
    transform: scale(0.9);
    transition: 0.25s;
}

#mode-toggle.dark .indicator {
    left: 32px;
    background: linear-gradient(to bottom, #444, #222);
    box-shadow: 0 4px 10px rgba(0,0,0,0.5),
                inset 0 1px 1px rgba(255,255,255,0.2),
                inset 0 -1px 1px rgba(255,255,255,0.2);
}




.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    text-align: center;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    color: var(--LT-header-gray);
    filter: drop-shadow(0 3px 2px var(--LT-header-drop-shadow));
    transition: all 250ms ease-in-out;
}
.title.dark {
    color: var(--DK-header-gray);
    filter: drop-shadow(0 3px 2px rgba(100, 100, 100, 0.75));
}

.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px !important;
    border-radius: 4px;
    transition: transform 250ms linear;
}
.clock-container.dark {
    background: 
        radial-gradient(
        rgb(136, 56, 13),
        rgb(17, 14, 0) 13%,
        black 75%,
        rgb(10, 10, 10) 98%
        );
    box-shadow: 0 0 20px #101010;
}

.solar-system-clock {
    position: relative;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    overflow: hidden;
}

.solar-system-clock .time {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.seconds {
    width: 0.1px;
    height: 17.5%;
    z-index: 3;
    transition: all 1s linear;
    /*background: rgba(255, 0, 0, 0.55);*/
}
    .seconds::before {
        content: '';
        position: absolute;
        top: -17px;
        left: -10px;
        width: 20px;
        height: 20px;
        background: linear-gradient(
            rgba(0, 0, 0, 0.8) 20%,
            rgba(0, 0, 0, 0) 70%
        );
        border-radius: 50%;
        z-index: 10;
        /*border: 0.25px dashed orange;*/
    }
    .seconds::after {
        content: '';
        position: absolute;
        top: -17px;
        left: -10px;
        width: 20px;
        height: 20px;
        background-image: url(./images/Mercury.png);
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 50%;
        animation: spin 30s infinite linear;
        /*border: 0.25px dashed orangered;*/
    }
    .mercury-orbit-path {
        position: absolute;
        top: 139px;
        left: 139px;
        width: 172px;
        height: 172px;
        border: 1px solid var(--orbit-path);
        border-radius: 50%;
    }


.minutes {
    width: 0.1px;
    height: 27.5%;
    z-index: 2;
    transition: all 1s linear;
    /*background: rgba(255, 0, 0, 0.55);*/
}
    .minutes::before {
        content: '';
        position: absolute;
        top: -25px;
        left: -12.5px;
        width: 25px;
        height: 25px;
        background: linear-gradient(
            rgba(0, 0, 0, 0.8) 30%,
            rgba(0, 0, 0, 0) 70%
        );
        border-radius: 50%;
        z-index: 10;
        /*border: 0.25px dashed orange;*/
    }
    .minutes::after {
        content: '';
        position: absolute;
        top: -25px;
        left: -12.5px;
        width: 25px;
        height: 25px;
        background-image: url(./images/Venus.png);
        background-size: contain;
        border-radius: 50%;
        animation: spin 60s infinite linear;
        /*border: 0.25px dashed orangered;*/
    }
    .venus-orbit-path {
        position: absolute;
        top: 90px;
        left: 89px;
        width: 272px;
        height: 272px;
        border: 1px solid var(--orbit-path);
        border-radius: 50%;
    }


.hours {
    width: 0.1px;
    height: 40.5%;
    z-index: 1;
    transition: all 1s linear;
    /*background: rgba(255, 0, 0, 0.55);*/
}
    .hours::before {
        content: '';
        position: absolute;
        top: -33px;
        left: -17.5px;
        width: 35px;
        height: 35px;
        background: linear-gradient(
            rgba(0, 0, 0, 0.8) 30%,
            rgba(0, 0, 0, 0) 70%
        );
        border-radius: 50%;
        z-index: 10;
        /*border: 0.25px dashed orange;*/
    }
    .hours::after {
        content: '';
        position: absolute;
        top: -33px;
        left: -17.5px;
        width: 35px;
        height: 35px;
        background-image: url(./images/earth.png);
        background-size: contain;
        border-radius: 50%;
        animation: spin 120s infinite linear;
        /*border: 0.25px dashed orangered;*/
    }
    .earth-orbit-path {
        position: absolute;
        top: 28px;
        left: 26px;
        width: 400px;
        height: 400px;
        border: 1px solid var(--orbit-path);
        border-radius: 50%;
    }


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.hour-num, .min-num, .sec-num {font-family: 'Noto Sans', sans-serif; color: var(--clock-font-color);}

.solar-system-clock .hour-num {
    --rotation: 0;
    position: absolute;
    top: 3%;
    left: 2.5%;
    width: 95%;
    height: 95%;
    font-size: 20px;
    text-align: center;
    transform: rotate(var(--rotation));
}
.solar-system-clock .hour-num1  {--rotation: 30deg; }
.solar-system-clock .hour-num2  {--rotation: 60deg; }
.solar-system-clock .hour-num3  {--rotation: 90deg; }
.solar-system-clock .hour-num4  {--rotation: 120deg;}
.solar-system-clock .hour-num5  {--rotation: 150deg;}
.solar-system-clock .hour-num6  {--rotation: 180deg;}
.solar-system-clock .hour-num7  {--rotation: 210deg;}
.solar-system-clock .hour-num8  {--rotation: 240deg;}
.solar-system-clock .hour-num9  {--rotation: 270deg;}
.solar-system-clock .hour-num10 {--rotation: 300deg;}
.solar-system-clock .hour-num11 {--rotation: 330deg;}
.solar-system-clock .hour-num12 {--rotation: 0;     }


.solar-system-clock .min-num {
    --rotation: 0;
    position: absolute;
    top: 17.5%;
    left: 17.5%;
    width: 65%;
    height: 65%;
    font-size: 15px;
    text-align: center;
    transform: rotate(var(--rotation));
}
.solar-system-clock .min-num5  {--rotation: 30deg; }
.solar-system-clock .min-num10 {--rotation: 60deg; }
.solar-system-clock .min-num15 {--rotation: 90deg; }
.solar-system-clock .min-num20 {--rotation: 120deg;}
.solar-system-clock .min-num25 {--rotation: 150deg;}
.solar-system-clock .min-num30 {--rotation: 180deg;}
.solar-system-clock .min-num35 {--rotation: 210deg;}
.solar-system-clock .min-num40 {--rotation: 240deg;}
.solar-system-clock .min-num45 {--rotation: 270deg;}
.solar-system-clock .min-num50 {--rotation: 300deg;}
.solar-system-clock .min-num55 {--rotation: 330deg;}
.solar-system-clock .min-num60 {--rotation: 0;     }


.solar-system-clock .sec-num {
    --rotation: 0;
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
    height: 40%;
    font-size: 6px;
    text-align: center;
    transform: rotate(var(--rotation));
    /*border: 0.25px solid var(--orbit-path);*/
}
.solar-system-clock .sec-num1  {--rotation: 6deg;  }
.solar-system-clock .sec-num2  {--rotation: 12deg; }
.solar-system-clock .sec-num3  {--rotation: 18deg; }
.solar-system-clock .sec-num4  {--rotation: 24deg; }
.solar-system-clock .sec-num5  {--rotation: 30deg; }
.solar-system-clock .sec-num6  {--rotation: 36deg; }
.solar-system-clock .sec-num7  {--rotation: 42deg; }
.solar-system-clock .sec-num8  {--rotation: 48deg; }
.solar-system-clock .sec-num9  {--rotation: 54deg; }
.solar-system-clock .sec-num10 {--rotation: 60deg; }
.solar-system-clock .sec-num11 {--rotation: 66deg; }
.solar-system-clock .sec-num12 {--rotation: 72deg; }
.solar-system-clock .sec-num13 {--rotation: 78deg; }
.solar-system-clock .sec-num14 {--rotation: 84deg; }
.solar-system-clock .sec-num15 {--rotation: 90deg; }
.solar-system-clock .sec-num16 {--rotation: 96deg; }
.solar-system-clock .sec-num17 {--rotation: 102deg;}
.solar-system-clock .sec-num18 {--rotation: 108deg;}
.solar-system-clock .sec-num19 {--rotation: 114deg;}
.solar-system-clock .sec-num20 {--rotation: 120deg;}
.solar-system-clock .sec-num21 {--rotation: 126deg;}
.solar-system-clock .sec-num22 {--rotation: 132deg;}
.solar-system-clock .sec-num23 {--rotation: 138deg;}
.solar-system-clock .sec-num24 {--rotation: 144deg;}
.solar-system-clock .sec-num25 {--rotation: 150deg;}
.solar-system-clock .sec-num26 {--rotation: 156deg;}
.solar-system-clock .sec-num27 {--rotation: 162deg;}
.solar-system-clock .sec-num28 {--rotation: 168deg;}
.solar-system-clock .sec-num29 {--rotation: 174deg;}
.solar-system-clock .sec-num30 {--rotation: 180deg;}
.solar-system-clock .sec-num31 {--rotation: 186deg;}
.solar-system-clock .sec-num32 {--rotation: 192deg;}
.solar-system-clock .sec-num33 {--rotation: 198deg;}
.solar-system-clock .sec-num34 {--rotation: 204deg;}
.solar-system-clock .sec-num35 {--rotation: 210deg;}
.solar-system-clock .sec-num36 {--rotation: 216deg;}
.solar-system-clock .sec-num37 {--rotation: 222deg;}
.solar-system-clock .sec-num38 {--rotation: 228deg;}
.solar-system-clock .sec-num39 {--rotation: 234deg;}
.solar-system-clock .sec-num40 {--rotation: 240deg;}
.solar-system-clock .sec-num41 {--rotation: 246deg;}
.solar-system-clock .sec-num42 {--rotation: 252deg;}
.solar-system-clock .sec-num43 {--rotation: 258deg;}
.solar-system-clock .sec-num44 {--rotation: 264deg;}
.solar-system-clock .sec-num45 {--rotation: 270deg;}
.solar-system-clock .sec-num46 {--rotation: 276deg;}
.solar-system-clock .sec-num47 {--rotation: 282deg;}
.solar-system-clock .sec-num48 {--rotation: 288deg;}
.solar-system-clock .sec-num49 {--rotation: 294deg;}
.solar-system-clock .sec-num50 {--rotation: 300deg;}
.solar-system-clock .sec-num51 {--rotation: 306deg;}
.solar-system-clock .sec-num52 {--rotation: 312deg;}
.solar-system-clock .sec-num53 {--rotation: 318deg;}
.solar-system-clock .sec-num54 {--rotation: 324deg;}
.solar-system-clock .sec-num55 {--rotation: 330deg;}
.solar-system-clock .sec-num56 {--rotation: 336deg;}
.solar-system-clock .sec-num57 {--rotation: 342deg;}
.solar-system-clock .sec-num58 {--rotation: 348deg;}
.solar-system-clock .sec-num59 {--rotation: 354deg;}
.solar-system-clock .sec-num60 {--rotation: 0deg;  }


.sun {
    content: '';
    position: absolute;
    top: 188px;
    left: 188px;
    width: 75px;
    height: 75px;
    background-image: url(./images/Sun.png);
    background-size: contain;
    border-radius: 50%;
    z-index: 10;
    animation: spin 240s infinite linear;
    /*border: 0.25px dashed orangered;*/
}

/* for future use, toggle borders button
#toggle {
    margin-bottom: 30px;
    padding: 5px 10px;
    background-color: rgb(180, 180, 180);
    border: 1px solid rgb(110, 110, 110);
    border-radius: 3px;
}
*/




/* CREDIT */
.credit {
    width: 80%;
    text-align: left;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: var(--LT-credit-note-gray);
}
.credit.dark {color: var(--DK-credit-note-gray);}

.credit-highlight {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-left: 4px;
}

a {
    text-decoration: none;
    color: var(--link-color);
}




/* INTRODUCTION */
.introduction {
    border: 2px dashed var(--LT-intro-border-gray);
    width: 80%;
    margin: 30px 0 15px 0;
    padding: 10px 10px;
    color: var(--LT-main-text-color-gray);
}
.introduction.dark {
    border: 2px dashed var(--DK-intro-border-gray);
    color: var(--DK-main-text-color-gray);
}

.note {
    color: var(--LT-credit-note-gray);
    font-size: 14px;
    margin: 20px 0 15px 0;
}
.note.dark {color: var(--DK-credit-note-gray);}




/* UNIVERSAL SECTION STYLING */
.html-container, .css-container {
    width: 80%;
    margin-bottom: 15px;
    padding: 20px 15px;
    border-radius: 2px;
    background: linear-gradient(var(--LT-review-section-container1), var(--LT-review-section-container2));
}
.html-container.dark {
    background: linear-gradient(var(--DK-review-section-container1), var(--DK-review-section-container2));
    color: var(--DK-main-text-color-gray);
}
.css-container.dark {
    background: linear-gradient(var(--DK-review-section-container1), var(--DK-review-section-container2));
    color: var(--DK-main-text-color-gray);
}

.js-container {
    width: 80%;
    margin: 0 0 80px 0;
    padding: 20px 15px 5px 15px;
    border-radius: 2px;
    background: linear-gradient(var(--LT-review-section-container1),var(--LT-review-section-container2));
}
.js-container.dark {
    background: linear-gradient(var(--DK-review-section-container1), var(--DK-review-section-container2));
    color: var(--DK-main-text-color-gray);
}

.subsection {
    font-size: 20px;
    margin-bottom: 10px;
}

.summary {
    line-height: 1.25em;
    margin: 10px;
}

.summary-list {
    list-style-type: circle;
    margin: 20px 0 20px 20px;
}

.summary-list > li {margin: 5px}

.li-heading {list-style: none;}

.snippet {
    font-family: 'Menlo', Arial, Helvetica !important;
    color: white;
    padding: 2px 6px;
    border-radius: 2px;
    background-color: var(--LT-snippet-bg-gray);
    box-shadow: 0 2px 5px var(--LT-snippet-box-shadow) !important;
}
.snippet.dark {
    color: var(--DK-snippet-color);
    background-color: var(--DK-snippet-bg);
    box-shadow: var(--DK-snippet-box-shadow);
}

pre {margin: 50px 0 30px 0;}

code {
    font-family: 'Menlo', Arial, Helvetica !important;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: 0 5px 10px var(--LT-code-box-shadow);
    overflow-y: hidden;
}
.code.dark {box-shadow: 0 5px 10px var(--DK-code-box-shadow);}

code::-webkit-scrollbar, .time-group-wrapper::-webkit-scrollbar {
    width: 16px;
    border-radius: 10px;
}
code::-webkit-scrollbar-thumb {
    border: 4px solid var(--code-webkit-scrlbr-border);
    border-radius: 10px;
    background: var(--code-wbkt-scrlbr-bg);
}

.time-group-wrapper::-webkit-scrollbar-thumb {
    border: 4px solid rgb(42, 42, 45);
    border-radius: 10px;
    background: var(--DK-time-grp-webkit-scrlbr-bg);
    background: rgb(160, 160, 160);
}

.time-group-wrapper {
    background: rgb(42, 42, 45);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 50px 0 30px 0;
    padding: 12px 2px 2px 2px;
    overflow: scroll;
    overflow-y: hidden;

    scroll-snap-type: x mandatory;
}
.time-group-wrapper.dark {
    border: 2px solid var(--DK-time-grp-wrapper-border);
}

.time-group {
    margin: 0 5px;
    min-width: 400px;

    scroll-snap-align: start;
    scroll-snap-stop: always;
}


/*.seconds::before {
        content: '';
        position: absolute;
        top: -170px;
        left: -10px;
        width: 20px;
        height: 165px;
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.8) 94%,
            rgba(0, 0, 0, 0.5) 98%,
            rgba(0, 0, 0, 0.01) 100%
        );
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        z-index: 10;
        /*border: 0.25px dashed orange;*
    }*/
/*.minutes::before {
        content: '';
        position: absolute;
        top: -113px;
        left: -13.5px;
        width: 27px;
        height: 105px;
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.88) 90%,
            rgba(0, 0, 0, 0.65) 95%,
            rgba(0, 0, 0, 0.01) 100%
        );
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        z-index: 10;
        /*border: 0.25px dashed orange;*
    }*/

/*.hours::before {
        content: '';
        position: absolute;
        top: -48px;
        left: -17.5px;
        width: 35px;
        height: 35px;
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.93) 40%,
            rgba(0, 0, 0, 0.6) 75%,
            rgba(0, 0, 0, 0.5) 90%,
            rgba(0, 0, 0, 0.1) 95%
        );
        border-bottom-left-radius: 30%;
        border-bottom-right-radius: 30%;
        z-index: 10;
        /*border: 0.25px dashed orange;*
    }*/